<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
    <script type="text/javascript" src='/javascripts/top_vue.js'></script>
</head>
<body>
    <head>
        <h1><%= title %></h1>
    </head>
    <div role="main">
        <% for(var i in content) { %>
            <tr>
                <% var obj = content[i]; %>
                <th scope="row"><%= obj.id %></th>
                <td><%= obj.name %></td>
                <td><%= obj.email %></td>
                <td><%= obj.pass %></td>
                <td><%= obj.year %></td>
                <td><%= obj.month %></td>
                <td><%= obj.day %></td>
                <td><%= obj.gender %></td>
            </tr>
        <% } %>
    </div>
    <div id="app">
        <p>値は、{{ animeNumber }}です。</p>
        <input v-model.number="myNumber" type="number" />
    </div>
<script>

</script>
</body>
</html>
